.pink {
	color: pink;
}

.blue {
	color: lightblue;
}

.baby-img {
	max-width: 250px;
}

.display-none {
	display: none;
}

.share-button {
	margin-top: 25px;
}

.gap {
	height: 30px;
}

.bg-pink {
	background-color: pink;
}

.bg-blue {
	background-color: lightblue; 
}

.li-p {
	margin: 0;
	padding: 0;
}

.fa {
    font-size: 30px !important;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 10%;
    margin: 0 10px;
}

.fa:hover {
	opacity: 0.8;
	text-decoration: none;
}

.fa-twitter {
	color: #00aced;
}

.fa-github {
	color: black;
}

.fa-linkedin {
	color: #007bb6;
}

.fa-facebook {
	color: #3b5998;
}

.fa-instagram {
	color: #bc2a8d;
}

#insignia {
	max-width: 100px;
}

@media screen and (min-width: 768px) {
	.gap-noshow {
		display: none;
	}
}