.pink {
	color: pink;
}

.blue {
	color: lightblue;
}

.baby-img {
	max-width: 250px;
}

.display-none {
	display: none;
}

.share-button {
	margin-top: 25px;
}

.gap {
	height: 30px;
}

.bg-pink {
	background-color: pink;
}

.bg-blue {
	background-color: lightblue; 
}

#insignia {
	max-width: 100px;
}

@media screen and (min-width: 768px) {
	.gap-noshow {
		display: none;
	}
}